/* my-memories/src/App/app.css */

* {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
}

@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

/* body {
    position: absolute;
    display: flex;
    width: 100%vw;
    height: 100%vh;
    background-image: url("../App/images/grungy-paper-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.wrapper {
    display: grid;
    flex-direction: column;
    grid-template-areas: "hdr" "nav" "home" "ourFam" "famHist" "kids" "recipe" "skid" "stew" "ftr";
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    /* grid-template-rows: auto 2fr 2fr auto; */
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: bottom;
    vertical-align: center;
    background-size: cover;
    background-image: url("../App/images/grungy-paper-background.jpeg");
    background-repeat: no-repeat;
    color: black;
    font-family: 'Architects Daughter', cursive;
}

.Header1 {
    grid-area: "hdr";
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.Header1-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    background-size: contain;
    background-image: url("../App/images/family-memory-image.jpeg");
    background-repeat: no-repeat;
}

.AllPages {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 2em;
}

.home { 
    grid-area: "home"; 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 2em;
    background-size: contain;
    background-image: url("./images/001-house-outline.png");
    width: 395px;
    height: 270px;
    border: solid black 10px;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
}

.NavBar {
    grid-area: nav;
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    color: cornsilk;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
}

button {
    display: inline-flex;
    flex-wrap: no-wrap;
    text-decoration: none;
    background-color: black;
    color: cornsilk;
    justify-content: space-around;
    font-family: 'Architects Daughter', cursive;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: center;
}

button:hover {
    background-color: cornsilk;
    color: black;
    cursor: pointer;
    
}

button1 {
    display: inline-block;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: black;
    border-width: 5px;
    text-decoration: none;
    background-color: black;
    color: cornsilk;
    justify-content: space-around;
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: bottom;
}

button1:hover {
    background-color: cornsilk;
    color: black;
    cursor: pointer;
     
}

.ourFam {
    grid-area: "ourFam";
    display: flex;
    flex-direction: column;
    margin: 2em;
    background-size: contain;
    background-image: url("../App/images/FAMILY FEET IN WATER.jpg ");
    width: 395px;
    height: 270px;
    border: solid black 10px;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
}

.famHist {
    grid-area: "famHist";
    display: flex;
    flex-direction: column;
    margin: 2em;
    background-size: contain;
    background-image: url("../App/images/ourFamHistory.jpeg");
    width: 395px;
    height: 270px;
    border: solid black 10px;
    background-repeat: no-repeat;
    justify-content: bottom;
    align-self: bottom;
}

.kids {
    grid-area: "kids";
    display: flex;
    flex-direction: column;
    margin: 2em;
    background-size: contain;
    background-image: url("../App/images/letterK.jpeg ");
    width: 395px;
    height: 270px;
    border: solid black 10px;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
}

.recipes {
    grid-area: "recipe";
    display: flex;
    flex-direction: column;
    margin: 2em;
    background-size: contain;
    background-image: url("../App/images/recipe2.jpg");
    width: 395px;
    height: 270px;
    border: solid black 10px;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
}

.skid {
    grid-area: "skid";
    display: flex;
    flex-direction: column;
    margin: 2em;
    background-size: contain;
    background-image: url("../App/images/skidmore.png");
    width: 395px;
    height: 270px;
    border: solid black 10px;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
}

.stew {
    grid-area: "stew";
    display: flex;
    flex-direction: column;
    margin: 2em;
    background-size: contain;
    background-image: url("../App/images/stewart.png");
    width: 395px;
    height: 270px;
    border: solid black 10px;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
}

footer {
    grid-area: "ftr";
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* @media screen and (min-width: 1130px) {

    .wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 2fr 1fr 1fr;
        /* grid-template-rows: 310px;
        grid-template-areas: "hdr" "nav ." "ourFam famHist" "kids" "recipe" "skid stew" "ftr";
    }

    .Header1-img {
        max-width: 400px;
        height: 58vh;
    }
    .Header1-img {
        max-width: 500px;
        height: 73vh;
    }
    .Header1-img {
        max-width: 600px;
        height: 88vh;
    }
    .Header1-img {
        max-width: 730px;
        height: 100vh;
    }
    .Header1-img {
        max-width: 800px;
        height: 150vh;
    }

    .NavBar {
        grid-area: "nav";
        flex-direction: column;
    }
} */

/* h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    color: black;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
}

h3 {
    font-size: 30px;
} */