/*HEADER CSS */

* {
    box-sizing: border-box;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

Header {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/pantry.jpeg");
    background-size: 100% auto;
    width: 100vw;
    height: 280px;
    margin-top: 0;
    background-repeat: no-repeat;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Rammetto One', cursive; 
    color: black;
    font-size: 100px;
    
    }