

#title {
    background: rgb(184, 151, 109);
    display: block;
    flex-direction: row;
    padding: 0;
    margin: 0;
}





/* Core Styles  */

@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
} 

img {
    display: block;
    width: 100%;
    height: auto;
     
}

h1 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    font-family: 'Rammetto One', cursive; 
    color: black;
    font-size: 110px;
    /* align-content: center;
    align-items: center;
    align-self: center;
    vertical-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center; */
}

h2 {
    margin: 0;
    padding: 1em 0;
    margin: 0;
    padding: 1em 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: 'Rammetto One', cursive; 
    color: black;
    font-size: 30px;
}

h4 {
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 50px;
}

p {
    margin: 0;
    padding: 1em 0;
}
/* Header Showcase  */

#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#title {
    background: rgb(184, 151, 109);
    display: block;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

#showcase .bg-image {
    position: absolute;
    background: #333 url("././images/pantry.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
}

#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;

}
#showcase .content-wrap {
    padding: 0 1.5em;
}

/* Section A  */

.section-a {
    background: rgb(184, 151, 109);
    color: #333;
    text-decoration: none;
    padding-bottom: .1em;
}
.section-a button {
    display: inline-block;
    color: rgb(184, 151, 109);
    background-color: black;
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    padding: 1em 2em;
    border: 2px solid black;
    margin: .1em 0;
}

.section-a button:hover {
    background:rgb(113, 8, 8);
    color: oldlace;
}

.Main a {
    width: 100%;
    height: auto;   
}


/* Section B  */

.section-b .cardRecipes {
    width: 100%;
    height: auto;
    background: #333 url("././images/recipe2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.section-b .cardPantry {
    width: 100%;
    height: auto; 
    background: #333 url("././images/pantry3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;  
}

.section-b .cardReceipts {
    width: 100%;
    height: auto; 
    background: #333 url("././images/receipts1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;  
}

.section-b a {
    text-decoration: none;
    color: black;

}
.section-b a:hover {
    text-decoration: none;
    color: rgb(113, 8, 8);

}

.section-b {
    display: grid;
    padding: 2em 1em 1em; 
    border: 5px solid  rgb(184, 151, 109);  
}

.section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content {
    padding: 0em;
    
}

/* Footer  */

.main-footer {
    padding: 2em;
    background:rgb(184, 151, 109);;
    color:rgb(113, 8, 8);
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    color: oldlace;
    text-align: center;
    height: auto;
    vertical-align: center;  
}

.main-footer a {
    color:rgb(113, 8, 8);
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

.icons {
    color:rgb(113, 8, 8);
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

.project {
    color:rgb(113, 8, 8);
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}
.project a {
    color:rgb(113, 8, 8);
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}



/* Media Queries  */

@media(min-width: 700px) {
    .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .NavLinks {
        columns: 2;
        column-gap: 2em;
    }

    .NavLinks a {
        padding-top: 0;
    }

    ul {
        grid-column: 2/4;
        display: flex;
        justify-content: space-around;   
    }

    li {
        width: 31%;
    }

    .main-footer {
        grid-column: span 2;
    }
}