

@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

/* Core Styles  */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: black;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
} 
.MainHomeContainer {
    width: 100%;
    height: 100vh;
}
/* img {
    display: block;
    width: 100%;
    height: auto;    
} */

p {
    margin: 0;
    padding: 1em 0;
}

/* button {
    display: inline-block;
    color: rgb(184, 151, 109);
    background-color: black;
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    padding: 1em 2em;
    border: 2px solid black;
    margin: .1em 0;
}

button:hover {
    background:rgb(113, 8, 8);
    color: oldlace;
    text-decoration: none;
} */

h1 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    font-family: 'Rammetto One', cursive; 
    color: black;
    font-size: 110px;
    /* align-content: center;
    align-items: center;
    align-self: center;
    vertical-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center; */
}

h2 {
    margin: 0;
    padding: 1em 0;
    margin: 0;
    padding: 1em 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    text-decoration: none;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: 'Rammetto One', cursive; 
    color: black;
    font-size: 30px;
}

h4 {
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 50px;
    text-decoration: none;
}

/* App Footer */
/* 
#main-footer {
    padding: 2em;
    background:rgb(184, 151, 109);;
    color:rgb(113, 8, 8);
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    color: oldlace;
    text-align: center;
    height: auto;
    vertical-align: center;  
}

.main-footer a {
    color:rgb(113, 8, 8);
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

.icons {
    color:rgb(113, 8, 8);
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

.project {
    color:rgb(113, 8, 8);
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

.project a {
    color:rgb(113, 8, 8);
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
} */



/* App MainHome  */

/* .Main {
    width: 100%;
    height: auto;
    display: grid;
    padding: 2em 1em 1em; 
    border: 5px solid  rgb(184, 151, 109);    
} */

/* App Recipes  */

/* .RecipePage {
    
} */

/* PagesMain  */
/* 
.MainPages {
    
} */

.HomeLinks {
  text-decoration: none;
  color: black;  
}

.HomeLinks:hover {
    text-decoration: none;
    color: rgb(113, 8, 8);
}

.Pantry {
    width: 100%;
    height: 60%;
}

.Receipts {
    width: 100%;
    height: 60%;
}

.Recipes {
    width: 100%;
    height: 60%;
}

/* PagesNav  */
/* 
.NavPages {
    background: rgb(184, 151, 109);
    color: #333;
    text-decoration: none;
    padding-bottom: .1em;
}

.AddRecipe {

}

.FAQs {

}

.FindRecipe {

}

.NavLinks {

}

.Resources {

} */



/* PagesNav Home  */

/* .Home {

} */

.CardRecipe{
    width: 100%;
    height: auto;
    background: url("../Styles/images/recipe2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.CardPantry {
    width: 100%;
    height: auto; 
    background: url("../Styles/images/pantry3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;  
}

.CardReceipt {
    width: 100%;
    height: auto; 
    background: url("../Styles/images/receipts1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;  
}
/* 
.card-content {
    padding: 0em;
} */

.card-title {
    margin: 0;
    padding: 0;
    font-family: 'Rammetto One', cursive; 
    color: black;
    font-size: 30px;
}

/* .Home {

} */

ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;  
}

/* Form  */

/* .formSubmit {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 350px;
}

.formSubmit input {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;

} */

/* Media Queries  */

@media(min-width: 700px) {
    .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .NavLinks {
        columns: 2;
        column-gap: 2em;
    }

    .NavLinks a {
        padding-top: 0;
    }

    ul {
        grid-column: 2/4;
        display: flex;
        justify-content: space-around;   
    }

    li {
        width: 31%;
    }

    .main-footer {
        grid-column: span 2;
    }

}