/*APP CSS */

* {
    box-sizing: border-box;
    margin: 0;
     
    }

@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 100vh; */
    justify-content: bottom;
    text-align: bottom;
    vertical-align: bottom;
    background-color: blanchedalmond;
    font-family: 'Architects Daughter', cursive;
     
}   