/* my-memories/src.css */

/*
* {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid red;
}

body {
    position: relative;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: black;
    font-size: 17px;
    font-weight: lighter;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 25px;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 35px;
} 

h2 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    padding: 8px;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 16px;
}

h4 {
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: lighter;
    font-size: 20px;
    line-height: 25px;
}

h5 {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 20px;
}

h6 {
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: lighter;
    font-size: 16px;
    line-height: 25px;
}

.wrapper {
    display: grid;
    grid-template-rows: 600px 70px 100px 100px 100px 100px 100px 100px 70px;
    grid-template-areas: "hdr" "nav" "ourFam" "famHist" "kids" "recipe" "skid" "stew" "ftr";
}

header {
    grid-area: hdr;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-img {
    position: absolute;
    width: 100%;
    height: 400px;
    background-size: cover;
    top: 0;
    z-index: -1;
    background-image: url("../src/App/images/family-memory-image.jpeg");
}

.nav {
    display: flex;
    grid-area: nav;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: tan;
    color: black;
}

.navbar h3 {
    padding: 15px;
}

.ourFamily {
    grid-area: ourFam;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    background-image: url("../src/App/images/FAMILY FEET IN WATER.jpg");
}

.famHistory {
    grid-area: FamHist;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    /* margin-top: 3em;
    background-color: rgba(138, 188, 159, 0.5);
    background-image: url("../src/App/images/ourFamHistory.jpeg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.kids {
    grid-area: kids;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    margin-top: .5em;
    background-image: url("../src/App/images/letterK.jpeg");
}

.recipe {
    grid-area: recipe;
    width: 100%;
    padding: 3em 10%;
    color: white;
    background-color: #134347;
    text-align: center;
    background-image: url("../src/App/images/kitchen-cookbook.jpeg");
}

.skidmore {
    grid-area: skid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    background-color: #edf5ef;
    color: black;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    background-image: url("../src/App/images/famHistoryExtSkid.jpeg");
}

.stewart {
    grid-area: stew;
    width: 100%;
    padding: 12px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    background-image: url("../src/App/images/famHistoryExtStew.jpeg");
}

footer {
    grid-area: ftr;
    width: 100%;
    padding: 1.5em 10%;
    line-height: 50px;
    color: tan;
    font-size: 25px;
    background-color: black;
    text-align: center;
} */

/* 
.menu {
    grid-area: menu;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    font-size: 18px;
    background-color: rgba(138,188,159,0.5);
    background-image: url("./images/bamboo.png");
    border-bottom-color:darkgray;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    background-attachment: fixed;
}

.icon{
    font-family: 'Verde Moderna';
    font-size: 3.0em;
    margin: 0 10px 0 10px;
}

.icon:hover{
    cursor: pointer;
}

.a::before{
    content: "a";
    color: rgba(255, 255, 355, .7);
}

.a:hover::before{
    content: "A";
    color: rgba(255, 255, 355, .4);
    transition: color .2s linear;
}

.five::before{
    content: "5";
    color: rgba(255, 255, 355, .7);
}

.five:hover::before{
    content: "%";
    color: rgba(255, 255, 355, .4);
    transition: color .2s linear;
}

.c::before{
    content: "c";
    color: rgba(255, 255, 355, .7);
}

.c:hover::before{
    content: "C";
    color: rgba(255, 255, 355, .4);
    transition: color .2s linear;
}

.three::before{
    content: "3";
    color: rgba(255, 255, 355, .7);
}

.three:hover::before{
    content: "#";
    color: rgba(255, 255, 355, .4);
    transition: color .2s linear;
}

.g::before{
    content: "g";
    color: rgba(255, 255, 355, .7);
}

.g:hover::before{
    content: "G";
    color: rgba(255, 255, 355, .4);
    transition: color .2s linear;
}
.icon.D {
    font-size: medium;
    margin: 0;
    justify-content: center;
}

.D::before {
    content: "D";
    color: rgba(255, 255, 355, .4);
    transition: color .2s linear;
}

.menu-bar-item{
    width: 50%;
    padding: 12px;
    border-bottom-color:darkgray;
    border-bottom-style: solid;
    border-bottom-width: .5px;
} */

/* @media screen and (min-width: 1130px) {
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 310px ;
        grid-template-areas: "hdr subhdr" "intro sidebar" "part menu" "req ." "ftr ftr""subftr subftr"; */

/* the period above with "req" takes up the empty spot */

/* }
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 600px 70px 100px 100px 100px 100px 100px 100px 70px;
    grid-template-areas: 
    "hdr" "hdr" "hdr" "hdr"
    "nav" "nav" "nav" "nav"
    "ourFam" 
    "famHist"
    "kids" 
    "recipe" 
    "skid" 
    "stew" 
    "ftr";
}
    .header-img {
        height: 310px;

    }
    .subHeader {
        background-color: rgba(255, 255, 355, .02);
    }

    .subHeader h3{
        background-color: rgba(255, 255, 355, .2);
    }

    .sidebar{
        flex-direction: column;
    }

    .side-bar-item{
        width: 100%;
    }

    .menu {
        flex-direction: column;
    }

    .menu-bar-item {
        flex-direction: column;

    }
} */