/*HEADER CSS */

* {
    box-sizing: border-box;
    margin: 0;
}


.Header1 {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    background-image: url("./images/steeringWheel copy.jpg");
    width: 100vw;
    height: 400px;
    background-size: 100vw;
    background-repeat: no-repeat;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    }

    .Header1 h4 {
        font-size: 125px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: antiquewhite;
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 250px;
    }