.Form {
    display: flex;
    flex-wrap: nowrap;
    color: red;
}

.issueTop{
    padding-top: 50px;
}

.issueWrap{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
}

.issue{
    margin-left:15%;
    padding-left: 10%;
    padding-top:3%;
    padding-bottom: 3%;
    padding-right: 2%;
    background-image: url("../commentLeft.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.comments{
    margin-right:15%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    background-image: url("../commentRight.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* grid-area: c;
    width: 300px; */
}

.votes{
    display: flex;
    justify-content: center;
    padding-right: 45px;
    margin: 0;

}
.upvote{
    background-image: url("../arrowsUp.jpg");
    background-size: 50px 50px;
    height: 50px;
    width:50px;
    padding-top: 12px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0
}
.downvote{
    background-image: url("../arrowsDown.jpg");
    background-size: 50px 50px;
    height: 50px;
    width:50px;
    padding-top: 10px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
}
.issue-display-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issue-wrapper {
    width: 90%;    
    padding: 15px;
    margin: 25px;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.issue-description {
    margin: 15px 0;
}

.voting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.thumb {
    padding: 0 5px;
}

.thumb:hover {
    cursor: pointer;
}