/* app.css */


* {
    box-sizing: border-box;
    margin: 0;
}

.Body {
    background-image: url("../Styles/images/flag.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
     
} 