/* comments.css */
    

.comments {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkgrey;
    color: rgb(9, 9, 52);
    margin: 10px 9;
    font-size: 16px; 
}

.commentSingle {
    display: flex;
    justify-content: space-between;
}

.commentText {
    color: rgb(9, 9, 52);
    font-size: 16px;
    padding: 10px 0;
}

.commentDelete {
    height: 25px;
    border-radius: 5px;

}

.commentDelete:hover {
    cursor: pointer;
}

.commentForm {
    background-color: darkgrey;
    color: rgb(9, 9, 52);
    margin: 10px 9;
    font-size: 16px;
    padding: 10px; 
}

.commentBox {
    background-color: lightgrey;
    color: rgb(9, 9, 52);
    margin: 10px 9;
    font-size: 16px;
}

.Post {
    float: right;
    align-content: center;
    vertical-align: center;
    background-color: darkred;
    color: lightgrey;
    margin: 10px 9;
    font-size: 16px;
    padding: 10px;
}

