* {
    box-sizing: border-box;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');


.Pages {
    text-align: center;
    font-size: 75px;
    color: black;
    font-family: 'Architects Daughter', cursive; 
}