/*APP CSS */

* {
    box-sizing: border-box;
    margin: 0;
     
    }

@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

.containerAll {
    display: flex;
    flex-wrap: wrap;
    /* height: 100vh; */
    justify-content: bottom;
    text-align: bottom;
    vertical-align: bottom;
    background-color: blanchedalmond;
    font-family: 'Architects Daughter', cursive;
  
}   

a {
    text-decoration: none;
    color: black;
    border: solid 1px black;
}

links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 500px;
    height: 500px;
    margin: 0;
    border-style: solid;
    border-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: tan;
    font-family: 'Architects Daughter', cursive;
}

a:hover {
    background-color: tan;
    cursor: pointer;
    transition-duration: 0.4s;
    
}

.frame {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}

