/* shared.css */

body {
    margin: 0;
}

.formWrap {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 500px;            
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: darkred;
    font-weight: bolder;
}

.formShared {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center; 
    align-content: center;
    margin-top: 100px;
}

.inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.inputTitle {
    margin: 20px;
    height: 30px;
    width: 150%;
    font-size: 20px;
    color: navy;
    align-items: center;
    align-self: center;
    vertical-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    
}

.inputDescription {
    margin: 20px;
    width: 200%;
    font-size: 20px;
    align-items: center;
    align-self: center;
    vertical-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    
}

.submitButton {
    /* margin: 10px; */
    width: 163px;
    /* padding: 5%; */
    align-items: center; 
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    vertical-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    background-color: grey;
    color: navy;
    font-weight: bolder;
    border: darkred 5px;
    border-style: double;

}