.commentSingle {
    display: flex;
    justify-content: space-between;
}

.commentText {
    padding: 10px 0;
}

.commentDelete {
    height: 25px;
    border-radius: 5px;
}

.commentDelete:hover {
    cursor: pointer;
}

.commentForm {
    padding: 10px;
}

.commentBox {
    width: 95%;
    resize: none;
}

.Post {
    float: right;
    margin-bottom: 15px;
}